header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  z-index: 99;
  padding: 0 112px;
  box-sizing: border-box;
  background: rgba(151, 157, 177, 0.5);
}
@media (max-width: 1280px) {
  header {
    padding: 0 48px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 0 28px;
  }
}
@media (max-width: 375px) {
  header {
    padding: 0 16px;
  }
}
header .title {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 60px;
}
@media (max-width: 1279px) {
  header .list {
    display: none;
  }
}
header .list ul {
  display: flex;
}
header .list ul li {
  margin-left: 46px;
  font-weight: 500;
  font-size: 17px;
  line-height: 38px;
  white-space: nowrap;
  cursor: pointer;
}
header .list ul li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.65);
}
header .list ul .active {
  font-weight: 500;
  font-size: 17px;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
header .list ul .active a {
  color: #FFFFFF;
}
header .menu-img {
  display: none;
}
@media (max-width: 1279px) {
  header .menu-img {
    display: inline-block;
  }
}
header .menu-list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 812px;
  background: #fff;
  padding: 22px;
  box-sizing: border-box;
}
header .menu-list .top {
  display: flex;
  justify-content: space-between;
}
header .menu-list .top img {
  width: 17px;
  height: 17px;
}
header .menu-list ul {
  padding-top: 69px;
  width: 100%;
}
header .menu-list ul li {
  text-align: center;
  margin-top: 36px;
}
header .menu-list ul li a {
  font-family: 'Noto Sans SC';
  font-size: 15px;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
}
@media (max-width: 1280px) {
  header .menu-list ul li .active:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 26px;
    background: #262626;
  }
}
section {
  overflow: hidden;
}
.section-one {
  width: 100%;
  margin-top: -72px;
  overflow: hidden;
}
.section-one .back-img {
  width: 100%;
  height: 925px;
  background: url('../images/banner-bg.png') no-repeat center center;
  animation: bigImg 4s forwards;
}
@keyframes bigImg {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.25);
  }
}
.section-one .text {
  position: absolute;
  top: 298px;
  height: auto;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.section-one .text p {
  font-style: normal;
  margin-bottom: 15px;
  white-space: nowrap;
}
.section-one .text p:nth-of-type(1) {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #2947A9;
}
@media (max-width: 550px) {
  .section-one .text p:nth-of-type(1) {
    font-size: 36px;
  }
}
.section-one .text p:nth-of-type(2) {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #5C6171;
}
@media (max-width: 550px) {
  .section-one .text p:nth-of-type(2) {
    font-size: 16px;
  }
}
.section-one .icon {
  position: absolute;
  top: 821px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.section-two {
  background: #F3F5F9;
}
.section-two .server {
  padding: 110px 0 206px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .section-two .server {
    padding: 72px 0 118px;
  }
}
@media (max-width: 800px) {
  .section-two .server {
    padding: 60px 0 54px;
  }
}
.section-two .server .ourServer {
  width: 100%;
  text-align: center;
}
.section-two .server .ourServer p {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 8px;
}
.section-two .server .ourServer span {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(92, 97, 113, 0.65);
}
.section-two .server .serverList {
  margin-top: 104px;
}
@media (max-width: 1280px) {
  .section-two .server .serverList {
    margin-top: 55px;
  }
}
.section-two .server .serverList ul {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .section-two .server .serverList ul {
    flex-wrap: wrap;
  }
}
.section-two .server .serverList ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 323px;
  height: 368px;
  margin-left: 24px;
  padding: 24px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
}
@media (max-width: 1400px) {
  .section-two .server .serverList ul li {
    width: 284px;
    margin: 0 8px;
  }
}
@media (max-width: 800px) {
  .section-two .server .serverList ul li {
    width: 45%;
    margin-bottom: 18px;
  }
}
@media (max-width: 400px) {
  .section-two .server .serverList ul li {
    width: 90%;
    margin-bottom: 18px;
  }
}
.section-two .server .serverList ul li span:nth-child(2) {
  margin-top: 26px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.85);
}
.section-two .server .serverList ul li span:nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
}
.section-three {
  width: 100%;
}
.section-three img {
  width: 100%;
}
.section-four {
  width: 100%;
  padding-top: 90px;
}
.section-four .productCenter {
  text-align: center;
}
.section-four .productCenter p {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
}
.section-four .productCenter span {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(92, 97, 113, 0.65);
}
.section-four .productList {
  margin-top: 82px;
  width: 100%;
}
.section-four .productList ul {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1850px) {
  .section-four .productList ul {
    width: auto;
    align-items: center;
  }
}
.section-four .productList ul li {
  width: 438.67px;
  height: 230px;
  margin-left: 23.67px;
  margin-bottom: 32px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .section-four .productList ul li {
    width: 384px;
  }
}
@media (max-width: 1450px) {
  .section-four .productList ul li {
    margin: 0 8px 32px;
  }
}
.section-four .productList ul li > span {
  display: block;
  height: 161px;
}
.section-four .productList ul li > span img {
  object-fit: cover;
}
.section-four .productList ul li p {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.section-four .productList ul li p span {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.section-four .productList ul li p a {
  width: 94px;
  height: 34px;
  background: #FF3E32;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.section-four .productList ul li:hover {
  border: 1px solid red;
}
.section-four button {
  width: 350px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 1px solid #FF3E32;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #FF3E32;
  background-color: #fff;
  cursor: pointer;
}
.section-five {
  background: #292E3D;
}
.section-five .text {
  height: 291px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1280px) {
  .section-five .text {
    height: 192px;
  }
}
.section-five .text p {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #FFFFFF;
}
.section-five .text span {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
}
.section-five .item {
  width: 100%;
}
.section-five .item ul {
  display: flex;
}
@media (max-width: 580px) {
  .section-five .item ul {
    flex-wrap: wrap;
  }
}
.section-five .item ul li {
  position: relative;
  flex: 1;
  height: 509px;
}
@media (max-width: 580px) {
  .section-five .item ul li {
    flex: auto;
    width: 50%;
    height: 240px;
  }
}
.section-five .item ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}
.section-five .item ul li .common,
.section-five .item ul li .active {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
}
.section-five .item ul li .common p {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
}
.section-five .item ul li .active {
  display: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  align-items: center;
  justify-content: center;
}
.section-five .item ul li .active .content {
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 580px) {
  .section-five .item ul li .active .content {
    height: 85%;
    width: 80%;
  }
}
.section-five .item ul li .active .content p:nth-of-type(1) {
  font-size: 20px;
  color: #FFFFFF;
}
.section-five .item ul li .active .content p:nth-of-type(2) {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
}
.section-five .item ul li .active button {
  width: 130px;
  height: 36px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  background: transparent;
  font-size: 14px;
  color: #FFFFFF;
}
.section-six {
  width: 100%;
  overflow: hidden;
}
.section-six .text {
  width: 100%;
  text-align: center;
  padding-top: 92px;
}
@media (max-width: 1280px) {
  .section-six .text {
    padding-top: 72px;
  }
}
@media (max-width: 800px) {
  .section-six .text {
    padding-top: 61px;
  }
}
.section-six .text p {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
}
.section-six .text span {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(92, 97, 113, 0.65);
}
.section-six .company-img {
  width: 100%;
  margin-top: 44px;
  text-align: center;
  margin-bottom: 88.5px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .section-six .company-img {
    display: flex;
  }
}
@keyframes wordsLoop {
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 1200px) {
  .section-six .company-img img:nth-of-type(1) {
    animation: 10s wordsLoop linear infinite normal;
  }
}
.section-six .company-img img:nth-of-type(2) {
  display: none;
}
@media (max-width: 1200px) {
  .section-six .company-img img:nth-of-type(2) {
    display: inline-block;
    animation: 10s wordsLoop linear infinite normal;
  }
}
footer .one {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 87px 0;
  background: #F5F7FA;
}
@media (max-width: 850px) {
  footer .one {
    display: none;
  }
}
footer .one .text > p {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 24.8201px;
  line-height: 29px;
  color: #2947A9;
}
footer .two {
  display: none;
  width: 100%;
  padding: 19px;
  box-sizing: border-box;
  background: #F5F7FA;
}
@media (max-width: 850px) {
  footer .two {
    display: block;
  }
}
footer .two .logo {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 24.8201px;
  line-height: 29px;
  color: #2947A9;
}
footer .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 278px;
  height: 204px;
  font-family: 'Work Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 850px) {
  footer .text {
    height: auto;
  }
}
footer .text p {
  font-weight: 400;
  color: #292E3D;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 12px;
}
footer .text p i {
  font-weight: 500;
  font-variant: small-caps;
  color: #2947A9;
}
@media (max-width: 850px) {
  footer .map {
    margin: 28px 0;
  }
}
@media (max-width: 850px) {
  footer .map img {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */